/* ---------- name filter containers ----------- */
#name-filter-1, #name-filter-2, 
#name-filter-3, #name-filter-4          { overflow: hidden; width: 100%; }   
#name-filter-1, #name-filter-2          { margin: 2vh; }
#name-filter-1                          { position: absolute; top: 0; }
#name-filter-2                          { margin-bottom: 1em;  position: absolute; top: 25%; }
#name-filter-3                          { margin: 2vh 0 0 2vh; position: absolute; top: 50%; }
#name-filter-4                          { margin: 2vh 0 0 2vh;  position: absolute; top: 60%; }
#generated-names-container.visible      { 
    position: absolute; 
    top: 17.5vh; 
    left: 20vw; 
    width: 60vw; 
    height: 72.5vh; box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}


/* ---------- filter (placeholder) buttons ----------- */
.placeholder, .selection, .complete, .auto-complete {
	font-style: italic;
	padding: 0 10px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	color: var(--off-white);
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

/* ---------- filter options (selections) buttons ----------- */
#time-selections, #history-setting-selections, #present-setting-selections, #future-setting-selections {
    padding-left: 0.5em;
}
#time-selections        {z-index: 5;}
#setting-selections     {z-index: 3;}


#history-setting-selections {
    width: 300px;
}

.history-setting-selections.hidden, .present-setting-selections.hidden, .future-setting-selections.hidden,
.fantasy-species-selections.hidden, .space-species-selections.hidden, .techworld-species-selections.hidden, .postapoc-species-selections.hidden {
    display: none;
}
.history-setting-selections.visible, .present-setting-selections.visible, .future-setting-selections.visible,
.fantasy-species-selections.visible, .space-species-selections.visible, .techworld-species-selections.visible, .postapoc-species-selections.visible {
    display: block;
}

.time-selections, 
.history-setting-selections, 
.present-setting-selections, 
.future-setting-selections, 
.gender-selections, 
.fantasy-species-selections,
.space-species-selections,
.techworld-species-selections, 
.postapoc-species-selections {
	padding: 10px 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sentence {
    margin: 0.5em 0;
}


.time-option.selection, .setting-option.selection, .species-option.selection, .gender-option.selection {
	font-size: 0.7em;
	cursor: not-allowed;
}
.time-option.placeholder, .setting-option.placeholder, .species-option.placeholder, .gender-option.placeholder,
.time-option.complete, .setting-option.complete, .species-option.complete, .species-option.auto-complete, .gender-option.complete  {
    font-size: 0.8em;
}
.time-option.placeholder, .setting-option.placeholder, 
.species-option.placeholder.highlight, .gender-option.placeholder.highlight,
.time-option.complete, .setting-option.complete, .species-option.selection, .species-option.complete, .gender-option.selection, .gender-option.complete {
	cursor: pointer;
}
 
#species-value.not-allowed {
    cursor: not-allowed;
}
.setting-option.complete.fade-out {
    cursor: default;
}

.present-selection.visible {
    width: 200px;
}

.filter-not-complete {
    display: none;
    position: absolute;
    transform: translateX(-50%);
}
.filter-complete {
    display: flex;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 7.5%;
    padding: 0;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    box-shadow: transparent;
    outline: none;
}

.get-names {
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 7.5vh;
    left: 0;
}


#generated-names-list {
    width: 100%;
    height: 100%;
}
.generated-name {
    padding: 9px;
    color: var(--off-white);
    font-size: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.generated-name.male {
    text-shadow: 1px 1px 1px var(--lighter-blue), 2px 2px 1px var(--blue);
}

.generated-name.female {
    text-shadow: 1px 1px 1px var(--maroon), 2px 2px 1px #7c062f;
}

.generated-name.unisex {
    text-shadow: 1px 1px 1px rgb(197, 146, 5), 2px 2px 1px rgb(173, 105, 3);
}

#newFilteredResultsBtn, #newRandomResultsBtn {
    cursor: pointer;
    color: rgb(86, 145, 253);
	font-variant: small-caps;
    border-radius: 30px;
    background-color: rgba(68, 67, 67, 0.5); 
	border: 2px solid rgb(30, 89, 199);
	box-shadow: 1px 1px 1px rgb(3, 56, 155),
                2px 2px 1px rgb(3, 56, 155);
    font-size: 0.95em;
    width: 215px;
    height: 45px;
}

#newFilteredResultsBtn.hidden, #newRandomResultsBtn.hidden {
    display: none;
}









@media (min-width: 400px) {
    #name-filter-1                          { top: 5%; }
    #name-filter-3                          { top: 45%; }
    #name-filter-4                          { top: 52.5%; }
    #generated-names-container.visible      { height: 70vh; top: 20vh;}
    .generated-name                         { padding: 12px; font-size: 1.1em; }
    #newFilteredResultsBtn, 
    #newRandomResultsBtn                    { font-size: 1.1em; width: 225px; height: 55px; }
}

@media (min-width: 400px) and (max-height: 737px) {
    #generated-names-container.visible      { height: 75vh; top: 15vh;}   
}

@media (min-width: 767px) {
    #time.options, #setting.options         { margin-left: 1em; }
    #name-filter-4                          { top: 45%; left: 400px; height: 45px;}
}

@media (max-height: 569px) {
    #generated-names-container.visible      { top: 12.5vh; height: 80vh; }
    .generated-name                         { font-size: 0.9em; }
}
@media (max-width: 400px) and (min-height: 800px) {
    #name-filter-4                          { top: 56%; }
    #generated-names-container.visible      { height: 65vh; top: 25vh;}  
}

@media (min-width: 767px) and (min-height: 578px) {
    #generated-names-container.visible      { height: 62.5vh; top: 22.5vh;}     
    .generated-name                         { font-size: 1.25em; }
    #newFilteredResultsBtn, 
    #newRandomResultsBtn                    { font-size: 1.25em; width: 275px; height: 65px; }
}

@media (min-width: 767px) and (max-height: 578px) {
    #name-filter-1                          { top: 0; }
    #name-filter-2                          { top: 20%; }
    #name-filter-3                          { top: 40%; }
    #name-filter-4                          { top: 40%; }
    #name-filter-1.list-closed, #name-filter-2.list-closed, #name-filter-3.list-closed, #name-filter-4.list-closed {
        height: 40px;
    }
    .time-option.placeholder, .setting-option.placeholder, .gender-option.placeholder, .species-option.placeholder,
    .time-option.selection, .setting-option.selection, .gender-option.selection, .species-option.selection,
    .time-option.complete, .setting-option.complete, .gender-option.complete, .species-option.complete, .species-option.auto-complete {
	    position: absolute;
	    top: 10px;
        left: 1em;
        font-size: 0.6em;
    }
    .species-option.placeholder, .species-option.selection, .species-option.complete, .species-option.auto-complete {
        left: 3.5em;
    }
    
    #time-selections, #history-setting-selections, #present-setting-selections, #future-setting-selections {
        padding-left: 0;
    }
    .gender-option.placeholder, .gender-option.selection, .gender-option.comlplete {
        left: 0.75em;
    }
    ul {
        margin: 1em 0 0 1em;
    }
    #fantasy-species-selections, #space-species-selections, #postapoc-species-selections, #techworld-species-selections  {
        margin: 1em 0 0 1.6em; 
    }
    #gender-selections {
        margin: 1em 0 0 0.6em; 
    }

    #time-selections {
        margin-top: 1em;
        z-index: 5;
    }
    #generated-names-container.visible {top: 10vh; height: 82.5vh;}
    #newFilteredResultsBtn, #newRandomResultsBtn {
        font-size: 1em;
        width: 225px;
        height: 45px;    
    }
    .generated-name                         { padding: 9px; font-size: 1em; }
    .filter-complete                        { bottom: 10vh; }
    .get-names                              { bottom: 0; }
    #positioned                             { left: 3em; }
}

@media (min-width: 1000px) and (max-height: 577px) {
    .species-option.placeholder, .species-option.selection, .species-option.complete, .species-option.auto-complete {
        left: 4.5em;
    }
}

@media (min-width: 1000px) and (min-height: 578px) {
    #name-filter-4                          { left: 450px;}
    #gender.options                         { height: 150px; }
    .generated-name                         {font-size: 1.5em; padding: 15px; }
    #newFilteredResultsBtn, 
    #newRandomResultsBtn                    { font-size: 1.4em; width: 300px; height: 70px; }
    
}





