

/* HEIGHT TRANSITION (COLLAPSED VS FULL FILTER OPTIONS) 
--------------------------------------------------------------------------------------------------------------*/
#name-filter-1.list-closed, #name-filter-2.list-closed, #name-filter-3.list-closed, #name-filter-4.list-closed {
    transition: height 0.3s;
}
#name-filter-1.list-closed, #name-filter-2.list-closed {
    height: 75px;
}
#name-filter-3.list-closed {
    height: 40px;
    transition: height 0.1s;
}

#name-filter-4.list-closed  {
    height: 40px;
}
#name-filter-1.list-open, #name-filter-2.list-open,  #name-filter-4.list-open {
    height: 35%;
    transition: height 0.4s;
}
#name-filter-2.list-open {
	height: 45%;
}

#name-filter-3.list-open {
    height: 20%;
}

#name-filter-4.list-open {
	position: absolute;
	bottom: 25%;
}


/* WIDTH & BORDER TRANSITION (FILTER BUTTONS) 
--------------------------------------------------------------------------------------------------------------*/ */
.placeholder, .selection, .complete, .auto-complete {
	font-style: italic;
	padding: 0 10px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	color: var(--off-white);
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

.placeholder {
	border-bottom: 2px solid var(--maroon); 
	transition: all 0.5s; 
}


.time-option.placeholder        
    { width: 80px; }
.setting-option.placeholder     
    { width: 110px; }
.species-option.placeholder     
    { width: 90px; }
.gender-option.placeholder      
    { width: 65px; }

.selection {
	transition: all 0.5s;
	border-bottom: 2px solid var(--blue); 
    cursor: not-allowed;
}

.time-option.selection          { width: 160px; }
.setting-option.selection       { width: 200px; }
.species-option.selection       { width: 150px; }
.gender-option.selection        { width: 75px; }

.complete, .auto-complete {
	border-bottom: 2px solid var(--lima); 
    transition: all 0.4s;
}

.time-option.complete,
.species-option.complete,
.species-option.auto-complete   { width: 200px; }
.setting-option.complete        { width: 275px; }
.gender-option.complete         { width: 100px; }


/* ------------------------------------------------------------------------------------------------------
    CHECKMARK TRANSITIONS (GET RESULTS BUTTON) 
------------------------------------------------------------------------------------------------------ */

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: rgb(30, 89, 199);
	fill: none;
	box-shadow: inset 3px 3px 3px rgb(1, 25, 66);
	animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    bottom: 0;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	stroke-width: 5;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 0 auto 2%;
	box-shadow: inset 3px 3px 3px rgb(1, 25, 66);
	animation: fill 0.3s ease-in-out 0.3s forwards, scale 0.3s ease-in-out 0.5s both;
	cursor: pointer;
    /* animation: expand 0.2s ease-out 0.5s forwards; */
}
.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}
@keyframes stroke {
	0% {
		position: absolute;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%, 100% {
	  	transform: none;
	  	/* position: absolute;
		left: 50%; */
		/* bottom: 7.5%; */
		/* transform: translateX(-50%); */
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
		/* position: absolute;
		left: 50%;
		transform: translateX(-50%); */
	}
}
@keyframes fill {
	100% {
	  	box-shadow: inset 0px 0px 0px 30px rgb(30, 89, 199);
		/* transform: translateX(-50%);
		position: absolute;
		left: 50%;	 */
	}
}

/* @keyframes expand {
    100% {
        width: 200px;
    }
} */

/* ------------------------------------------------------------------------------------------------------
    FILTER SCALE/BOUNCE IN ANIMATIONS
------------------------------------------------------------------------------------------------------ */
.scaled-out, .scale-bounce-in, .fade-in {
	position: absolute;
	left: 5%;
	width: 300px;    
}
.scaled-out {
	transform: scale(0);
}
.scale-bounce-in {
	word-wrap: none;
	animation: scale-bounce-in 0.5s forwards;
	opacity: 1;
}

@keyframes scale-bounce-in {
	0% 		{ transform: scale(0); }
	80% 	{ transform: scale(1.2); }
	100% 	{ transform: scale(1); }
}

/* ------------------------------------------------------------------------------------------------------
    FADE TRANSITION ON FILTERS
------------------------------------------------------------------------------------------------------ */
.fade-out {
	opacity: 0;
	transform: translateX(100%);
	cursor: default;
	transition: all 0.3s;
}

.fade-in {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.2s;
}

/* MEDIA QUERIES 
--------------------------------------------------------------------------------------------------------------*/ 
@media (max-height: 577px) {
    #name-filter-1.list-open            {height: 45%; }
}

/* @media (max-width: 766px) {
    .time-option.selection              {width: 100px;}
    .time-option.complete               {width: 175px;}
    /* .history-option.selection           {} 
} */
@media (min-width: 767px) {
	#name-filter-1						{top: 0;}
	#name-filter-2						{top: 15%;}
	#name-filter-3						{top: 30%;}
	#name-filter-4						{top: 0; left: 40%;}
	#name-filter-3.list-open 			{height: 40%;}
	#name-filter-3.list-closed 			{height: 45px;}
    .time-option.placeholder            {width: 100px;}
    .time-option.selection              {width: 190px;}
	.time-option.complete               {width: 250px;}
	.setting-option.placeholder         {width: 150px;}
    .setting-option.selection           {width: 300px;}
	.setting-option.complete            {width: 450px;}
	.gender-option.placeholder     		{width: 100px;}
	/* .gender-option.placeholder			{margin-top: -10px;} */
	#name-filter-4						{display: inline-block; }
	.scaled-out, .scale-bounce-in,
	.fade-in					 		{position: absolute; left: 7%; width: 700px;}

	#name-filter-1.list-closed, 
	#name-filter-2.list-closed 			{height: 50px;}
	.setting-option.placeholder,     	
	.species-option.placeholder     	{width: 175px;}

}
@media (min-width: 1000px) {
    .time-option.placeholder            {width: 125px;}
    .time-option.selection              {width: 250px;}
	.time-option.complete               {width: 300px;}
	.gender-option.placeholder     		{width: 100px;}
	.scaled-out, .scale-bounce-in 		{left: 15%; width: 700px;}
	#name-filter-3.list-open 			{height: 25%;}
}

