body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  font-size: 16px;
  font-family: 'Bellota Text', cursive;
  /* 'Indie Flower', cursive; */

}
html {
  text-align: center;
}
header {
  height: 100vh;
  background-color: #fff8d4;
  background-image: linear-gradient(to bottom right, rgba(16, 212, 212, 0.6), rgba(16, 166, 212, 0.6) , rgba(1, 58, 133, 0.5)), url("../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center; 
  color: white;
}
#header-text-container-top {
  width: 80vw;
  margin: auto;
}
h1 {
  font-size: 2em;
  margin: 15vh auto auto auto;
  text-transform: uppercase;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px rgb(0, 17, 22),
        1px 2px 1px rgb(0, 17, 22),
        1px 3px 1px rgb(0, 17, 22),
        1px 4px 1px rgb(0, 17, 22),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
#header-text-container-bottom {
  position: relative;
  bottom: 12.5%;
  padding: 0 4em;
}
h2 {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 2px;
  /* font-variant: small-caps; */
  color: #f5f5f5;
  text-shadow: 1px 1px 1px rgb(0, 5, 7),
        1px 2px 1px rgb(0, 5, 7),
        1px 3px 1px rgb(0, 5, 7),
        1px 4px 1px rgb(0, 5, 7),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
nav {
  width: 100vw; max-width: 100%;
  position: fixed;
  top: 0%;
  z-index: 2;
}
#nav-icon-container {
  width: 100vw; max-width: 100%;
  padding: 1.25em 0 0.75em 0;
}

#nav-icon-container > ion-icon {
  font-size: 35px;
  color: #030333;
  text-shadow: 1px 1px 1px rgb(0, 17, 22),
  1px 2px 1px rgb(0, 17, 22),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.non-active {
  transform:scaleY(0);
  transform-origin: top;
  -webkit-transition: transform 0.5s ease-out;  
  -moz-transition: transform 0.5s ease-out;  
  -o-transition: transform 0.5s ease-out;  
  -ms-transition: transform 0.5s ease-out;  
  transition: transform 0.5s ease-out;
}
.active {
  overflow: hidden;
  height: auto;
  transform: scaleY(1);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.active > a {
  padding: 0.2em 0;
}
nav a {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 0.9em;
  color: #030333;
  text-shadow: 1px 1px 1px #060663;
}
h3 {
  margin: 0;
}
footer {
  position: fixed;
  bottom: 0%;
  z-index: 2;
  height: 15vh;

}

/* ---------------------------------------------------------------------------------------------
   characters main page
   --------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------
   characters gender filter
   --------------------------------------------------------------------------------------------- */





/* ---------------------------------------------------------------------------------------------
   random names button
   --------------------------------------------------------------------------------------------- */

.randomResults {
  height: 80%;
  width: 70vw;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.randomResults > li {
  list-style-type: none;
  padding: 0.5em;
  font-weight: bold;
  font-size: 100%;
  text-shadow: 1px 1px 2px grey;
}


/* ---------------------------------------------------------------------------------------------
   MEDIA QUERIES
   --------------------------------------------------------------------------------------------- */

   @media (min-width: 767px) {
    h1 {
      font-size: 6em;
      margin: -75px 0 0 0;
    }
  
    #header-text-container-bottom {
      padding: 0 5em;
    }
    h2 {
      font-size: 1.75em;
    }
    nav {
      width: 100%; max-width: 100%;
      height: 15vh;  
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #nav-icon-container {
      width: 5vw;
      padding-left: 3em;
    }
    .non-active {
      opacity: 0;
      width: 80vw;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 5em;
      transform: none;
      -webkit-transition: all 1s ease;  
      -moz-transition: all 1s ease;  
      -o-transition: all 1s ease;  
      -ms-transition: all 1s ease;  
      transition: all 1s ease;
    }
    .active {
      width: 60vw;
      height: auto;
      opacity: 1;
      margin-right: 3em;
      transform: none;
      display: flex;
      justify-content: space-between;
    }
  
    nav a {
      font-size: 1.25em;
    }


    .randomResults {
      height: 100%;
      width: 60vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .randomResults > li {
      padding: 0.7em;
      font-size: 120%;
    }

    

  }


/* ---------------------------------------------------------------------------------------------
   FONT STYLING
   --------------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('iconFonts/icomoon.eot?6gkpt4');
  src:  url('iconFonts/icomoon.eot?6gkpt4#iefix') format('embedded-opentype'),
    url('iconFonts/icomoon.ttf?6gkpt4') format('truetype'),
    url('iconFonts/icomoon.woff?6gkpt4') format('woff'),
    url('iconFonts/icomoon.svg?6gkpt4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-outline:before {
  content: "\e901";
}
.icon-th-menu:before {
  content: "\e900";
}